
<div class="container">
  <h1>Tasks list</h1>
  <ul>
    <% @tasks.each do |task| %>
      <li>
      <%= check_box("task", task.id, {checked: task.completed}) %>
      <%= link_to task.title, task_path(task)%>
      <%= link_to "",
          task_path(task),
          method: :delete,
          data: { confirm: "Are you sure?" }, class: "fas fa-trash-alt"%>
      </li>
    <% end %>
  </ul>

  <%= link_to "Create a new task", new_task_path %>
</div>
