@import "bootstrap/scss/bootstrap";


body {
  color:white;
  background-color: black;
}

h1 {
  margin: 20px 0;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
  padding: 10px;
  text-decoration: none;
}

ul {
  $border: 5px;
  color: #FFF;
  background: #000;
  background-clip: padding-box; /* !importanté */
  border: solid $border transparent; /* !importanté */
  border-radius: 1em;
  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -$border; /* !importanté */
    border-radius: inherit; /* !importanté */
    background: linear-gradient(to right, red, orange);
  }
}
